body{
  margin: auto;
  background: ;
}
.cabeza{
  text-align: center;
  padding-top: 30px;
}
.menu ul li{
  background: black;
  color: rgb(155, 126, 167);
  width: 30%;
  height: auto;
  border-radius: 0;
  position: relative;
  margin-left: 2%;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Shadows Into Light, cursive;
  font-size: 30pt;
}
.menu ul li:hover{
  background: url(https://img.freepik.com/foto-gratis/textura-marmol-blanco-natural-papel-tapiz-azulejos-piel-fondo-lujoso_24076-297.jpg?size=626&ext=jpg);
  color: black;
  background-size: 30%;

}
h1{
  font-family: Sedgwick Ave Display, cursive;
  font-size: 80pt;
}
h4{
  color: rgb(118, 91, 153);
  font-family: Shadows Into Light, cursive;
  font-size: 20pt;
  margin-top: -60px;
}
h3{
  font-family: Shadows Into Light, cursive;
  font-size: 30pt;
  background:rgb(155, 126, 167);
  color: white;
  width: 70%;
  text-align: center;
  margin-top: 3%;
  margin-left: 15%;
  border-radius: 15px 15px 0 15px;
}
.uf1{
  background: url(https://img.freepik.com/foto-gratis/textura-marmol-blanco-natural-papel-tapiz-azulejos-piel-fondo-lujoso_24076-297.jpg?size=626&ext=jpg);
  background-size: 100%;
  width: 70%;
  height: auto;
  padding-bottom: 5%;
  margin-top: 3%;
  margin-left: 15%;
  border-radius: 15px 15px 0 15px;
}
.uf2{
  background: gray;
  width: 70%;
  height: auto;
  padding-bottom: 5%;
  margin-left: 15%;
  border-radius: 15px 15px 0 15px;
}
.uf4{
  background: url(https://img.freepik.com/foto-gratis/textura-marmol-blanco-natural-papel-tapiz-azulejos-piel-fondo-lujoso_24076-297.jpg?size=626&ext=jpg);
  background-size: 100%;
  width: 70%;
  height: auto;
  padding-bottom: 5%;
  margin-left: 15%;
  border-radius: 15px 15px 0 15px;
}
li{
  background: linear-gradient(350deg, black, rgb(118, 91, 153));
  height: 250px;
  width: 250px;
  border-radius: 40% 40% 40% 40%;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  list-style: none;
  text-align: center;
}
h2{
color: white;
font-family: Sedgwick Ave Display;
font-size: 30px;
margin-top: 40%;
}
h2:hover{
  color: rgb(155, 126, 167);
}
a li:hover{
  background: linear-gradient(350deg, rgb(118, 91, 153), black);
}
