body{
  margin-top: 200px;
  background: rgb(157, 138, 219);
}
.cabeza{
  width: 600px;
  height: 700px;
  margin: auto;
}
.cabello{
  background: black;
  width: 600px;
  height: 700px;
  border-radius: 30% 30% 20px 20px;
}
.cara{
  background: rgb(185, 132, 115);
  width: 400px;
  height: 530px;
  border-radius: 300px 350px 150% 150%;
  margin-top: -650px;
  margin-left: 100px;
  border: solid 2px;
}
.flequillo{
  background: black;
  width: 250px;
  height: 250px;
  margin: -560px 0 0 60px;
  border-radius: 80% 0 100% 0;
}
.flequillo_2{
  background: black;
  width: 250px;
  height: 250px;
  margin: -250px 0 0 300px;
  border-radius: 0 80% 0 100%;
}
.frente{
  width: 600px;
  height: 50px;
  margin-top: -50px;
}
.izquierda{
  float:left;
}
.derecha{
  float: right;
}
.cejas{
  background: black;
  width: 130px;
  height: 25px;
}
.izquierda .cejas{
  margin-top: -35px;
  margin-left: 140px;
  border-radius: 50px 15px 10px 0;
}
.derecha .cejas{
  margin-top: -35px;
  margin-right: 140px;
  border-radius: 15px 50px 0 10px;
}
.pestañas{
  background: black;
  width: 70px;
  height: 70px;
  border-radius: 70% 0%;
}
.izquierda .pestañas{
  margin-top: 5px;
  margin-left: 170px;
  transform: rotate(45deg);
}
.derecha .pestañas{
  margin-top: 5px;
  margin-left: 35px;
  transform: rotate(45deg);
}
.blanco{
  background: white;
  width: 70px;
  height: 70px;
  border-radius: 70% 0%;
  display: inline-block;
}
.izquierda .blanco{
  margin-top: -5px;
  margin-left: 6px;
}
.derecha .blanco{
  margin-top: 6px;
  margin-left: -5px;
}
.iris{
  background: rgb(61, 24, 106);
  width: 43px;
  height: 43px;
  border-radius: 50%;
  margin: 13px;
  display: inline-block;
  animation: animairis 5s infinite;
}
@keyframes animairis{
  0%{
    background: black;
  }
  50%{
    background: white;
  }
  100%{
    background: rgb(143, 85, 52);
  }
}
.pupila{
  background: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 11px;
}
.nariz{
  background: rgb(185, 132, 115);
  width: 40px;
  height: 40px;
  margin-top: 90px;
  margin-left: 283px;
  border-radius: 10px;
  border-bottom: solid 2px black;
}
.boca{
  background: rgb(92, 34, 46);
  width: 65px;
  height: 65px;
  border-radius: 70% 0;
  transform: rotate(45deg);
  margin-top: 50px;
  margin-left: 240px;
}
.boca_derecha{
  background: rgb(92, 34, 46);
  width: 70px;
  height: 70px;
  border-radius: 70% 0;
  transform: rotate(45deg);
  margin-top: -65px;
  margin-left: 300px;
}
.boca_inferior{
  background: rgb(92, 34, 46);
  width: 115px;
  height: 40px;
  border-radius: 100% 100% 100% 100%;
  margin-top: -41px;
  margin-left: 245px;
  transform: rotate(3deg);
}
}
