body{
}
h2{
  font-size: 30pt;
  color: rgb(231, 20, 20);
}
h5{
  background-image: url(https://play-lh.googleusercontent.com/K0RnQ1HOn5ZZG-qEob5fsYujuGYKPeDKr-Mwhe0xAnN6MjsmTvloXKcO9NJK27HAttg=s360-rw);
  width:250px;
  height: 250px;
  background-size: 100%;

}
.plataformes{
  align-content: center;
}
.escriptoriwin{
  background-color: green;
  height: 500px;
  width: 500px;
  position: absolute;
}
.escriptorimac{
  background-color: rgb(133, 47, 123);
  width: 500px;
  height: 500px;
  left: 520px;
  position: absolute;
}
.escriptorilin{
  background-color: rgb(103, 129, 115);
  width: 500px;
  height: 500px;
  position: absolute;
  left: 1040px;
}
.nuvolweb{
  background-color: rgb(209, 190, 19);
  width: 500px;
  height: 500px;
  position: absolute;
  top: 835px;
}
.mobiland{
  background-color: rgba(56, 205, 156, 0.99);
  width: 500px;
  height: 500px;
  position: absolute;
  top: 835px;
  left: 520px;
}
.mobilios{
  background-color: rgb(30, 25, 131);
  width: 500px;
  height: 500px;
  position: absolute;
  top: 835px;
  left: 1040px;
}
