body{
  font-family: Helvetica, Sans-serif;
  background-color: black;
}
.logo{
  margin: 5px 20px 5px 20px;
}
.contenedor{
  clear: both;
}
.contenedor2{
  clear: both;
  padding-top: 50px;
}
.contenedor3{
  clear: both;
  padding-top: 50px;
}
.contenedor4{
  clear: both;
  padding-top: 50px;
}
.contenedor5{
  clear: both;
  padding-top: 50px;
}
li{
  color: #FFF;
  display: inline-block;
}
p{
color: #CCC;
font-size: 11px;
margin-top: -7px;
}
.año{
  float: left;
}
.doc{
  float: right;
}

h1{
  color: #FFF;
  font-size: 22px;

}
h3{
  font-size: 14px;
  color: #CCC;
  margin-top: 270px;
}
.izquierda{
  margin: 5px;
}
.derecha{
  float: right;
  margin: 5px;
}
.interessants{
  width: 175px;
  height: 260px;
  background-size: cover;
  border-radius: 5px;
  float: left;
  margin: 20px 20px 40px 20px;
}
#uno{
  background-image: url("../imatges/1982Koyaanisqatsi.jpg");
}
#dos{
  background-image: url("../imatges/2004YTuQueSabes.jpg");
}
#tres{
  background-image: url("../imatges/2005Earthlings.jpg");
}
#cuatro{
  background-image: url("../imatges/2007Helvetica.jpg");
}
#cinco{
  background-image: url("../imatges/2007Sicko.jpg");
}
#seis{
  background-image: url("../imatges/2005Earthlings.jpg");
}
#seis{
  background-image: url("../imatges/2008Zeitgeist2.jpg");
}
#siete{
  background-image: url("../imatges/2009ArtAndCopy.jpg");
}
#ocho{
  background-image: url("../imatges/2009Home.jpg");
}

#nueve{
  background-image: url("../imatges/2009RipARemixManifesto.jpg");
}
#diez{
  background-image: url("../imatges/2010ComprarTirarComprar.jpg");
}
#once{
  background-image: url("../imatges/2010InsideJob.jpg");
}


.vistos{
  width: 175px;
  height: 260px;
  background-size: cover;
  border-radius: 5px;
  float: left;
  margin: 20px 20px 40px 20px;
}
#v_cuatro{
  background-image: url("../imatges/2011LaDoctrinaDeShock.jpg");
}
#v_cinco{
  background-image: url("../imatges/2012SearchingForSugarMan.jpg");
}
#v_seis{
  background-image: url("../imatges/2012TheActOfKilling.jpg");
}
#v_siete{
  background-image: url("../imatges/2013ElEspirituDel45.jpg");
}


.pendientes{
  width: 175px;
  height: 260px;
  background-size: cover;
  border-radius: 5px;
  float: left;
  margin: 20px 20px 40px 20px;
}
#p_uno{
  background-image: url("../imatges/XXXXpeli.jpg");
}
#p_dos{
  background-image: url("../imatges/XXXXpeli.jpg");
}


.vistas{
  width: 175px;
  height: 260px;
  background-size: cover;
  border-radius: 5px;
  float: left;
  margin: 20px 20px 40px 20px;
}
#pv_uno{
  background-image: url("../imatges/quasinegre.png");
}
#pv_dos{
  background-image: url("../imatges/quasinegre.png");
}


.seguint{
  width: 175px;
  height: 260px;
  background-size: cover;
  border-radius: 5px;
  float: left;
  margin: 20px 20px 40px 20px;
}
#ss_uno{
  background-image: url("../imatges/XXXXserie.jpg");
}
#ss_dos{
  background-image: url("../imatges/XXXXserie.jpg");
}
